<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsti.tunnel.monitor.dao.master.TmDeviceDao">
  <resultMap id="BaseResultMap" type="com.jsti.tunnel.monitor.bean.TmDevice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="clientip" jdbcType="VARCHAR" property="clientip" />
    <result column="clientport" jdbcType="VARCHAR" property="clientport" />
    <result column="device_type" jdbcType="VARCHAR" property="deviceType" />
    <result column="line" jdbcType="VARCHAR" property="line" />
    <result column="segment" jdbcType="VARCHAR" property="segment" />
    <result column="stake_number" jdbcType="VARCHAR" property="stakeNumber" />
    <result column="install_position" jdbcType="VARCHAR" property="installPosition" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="collect_time" jdbcType="TIMESTAMP" property="collectTime" />
    <result column="subsecond" jdbcType="VARCHAR" property="subsecond" />
    <result column="realtime_physical_data" jdbcType="VARCHAR" property="realtimePhysicalData" />
    <result column="voltage" jdbcType="VARCHAR" property="voltage" />
    <result column="status" property="status" />
    <result column="longitude" property="longitude" />
    <result column="latitude" property="latitude" />
    <result column="pic1" property="pic1" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
  </resultMap>

  <sql id="Base_Column_List">
    id, code, `name`, model, `type`, clientip, clientport, device_type, line, segment, stake_number, install_position, serial_number,
    collect_time, subsecond, realtime_physical_data, voltage, status, longitude, latitude, pic1, enabled
  </sql>

  <select id="selectList" parameterType="com.jsti.tunnel.monitor.pojo.TmDeviceParams" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tm_device
    <where>
        1 = 1
        <if test="name !=null">and name like CONCAT('%',#{name},'%')</if>
        <if test="code !=null">and code like CONCAT('%',#{code},'%')</if>
        <if test="model !=null">and model=#{model}</if>
        <if test="type !=null">and type=#{type}</if>
        <if test="segment !=null">and segment=#{segment}</if>
        <if test="line !=null">and line=#{line}</if>
        <if test="status !=null">and status=#{status}</if>
        <if test="enabled !=null">and enabled=#{enabled}</if>
        <if test="search !=null">and CONCAT(code, line, segment) LIKE CONCAT('%',#{search},'%')</if>
    </where>
  </select>
  
  <select id="selectIdsByCodes" parameterType="java.util.List" resultType="java.lang.Integer">
	    select
	    id
	    from tm_device
	    where code in
		<foreach collection="list" item="code" index="index" open="(" close=")" separator=",">
		  #{code}
		</foreach>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tm_device
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update tm_device set enabled = 0
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jsti.tunnel.monitor.bean.TmDevice" useGeneratedKeys="true">
    insert into tm_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">code,</if>
      <if test="name != null">name,</if>
      <if test="name != null">name,</if>
      <if test="model != null">model,</if>
      <if test="type != null">type,</if>
      <if test="clientip != null">clientip,</if>
      <if test="clientport != null">clientport,</if>
      <if test="deviceType != null">device_type,</if>
      <if test="line != null">line,</if>
      <if test="segment != null">segment,</if>
      <if test="stakeNumber != null">stake_number,</if>
      <if test="installPosition != null">install_position,</if>
      <if test="serialNumber != null">serial_number,</if>
      <if test="collectTime != null">collect_time,</if>
      <if test="realtimePhysicalData != null">realtime_physical_data,</if>
      <if test="status != null">status,</if>
      <if test="longitude != null">longitude,</if>
      <if test="latitude != null">latitude,</if>
      <if test="pic1 != null">pic1,</if>
      <if test="enabled != null">enabled,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">#{code},</if>
      <if test="name != null">#{name},</if>
      <if test="name != null">#{name},</if>
      <if test="model != null">#{model},</if>
      <if test="type != null">#{type},</if>
      <if test="clientip != null">#{clientip},</if>
      <if test="clientport != null">#{clientport},</if>
      <if test="deviceType != null">#{deviceType},</if>
      <if test="line != null">#{line},</if>
      <if test="segment != null">#{segment},</if>
      <if test="stakeNumber != null">#{stakeNumber},</if>
      <if test="installPosition != null">#{installPosition},</if>
      <if test="serialNumber != null">#{serialNumber},</if>
      <if test="collectTime != null">#{collectTime},</if>
      <if test="realtimePhysicalData != null">#{realtimePhysicalData},</if>
      <if test="status != null">#{status},</if>
      <if test="longitude != null">#{longitude},</if>
      <if test="latitude != null">#{latitude},</if>
      <if test="pic1 != null">#{pic1},</if>
      <if test="enabled != null">#{enabled},</if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.jsti.tunnel.monitor.bean.TmDevice">
    update tm_device
    <trim prefix="SET" suffixOverrides=",">
      <if test="code != null">code = #{code},</if>
      <if test="name != null">name = #{name},</if>
      <if test="name != null">name = #{name},</if>
      <if test="model != null">model = #{model},</if>
      <if test="type != null">type = #{type},</if>
      <if test="clientip != null">clientip = #{clientip},</if>
      <if test="clientport != null">clientport = #{clientport},</if>
      <if test="deviceType != null">device_type = #{deviceType},</if>
      <if test="line != null">line = #{line},</if>
      <if test="segment != null">segment = #{segment},</if>
      <if test="stakeNumber != null">stake_number = #{stakeNumber},</if>
      <if test="installPosition != null">install_position = #{installPosition},</if>
      <if test="serialNumber != null">serial_number = #{serialNumber},</if>
      <if test="collectTime != null">collect_time = #{collectTime},</if>
      <if test="realtimePhysicalData != null">realtime_physical_data = #{realtimePhysicalData},</if>
      <if test="status != null">status = #{status},</if>
      <if test="longitude != null">longitude = #{longitude},</if>
      <if test="latitude != null">latitude = #{latitude},</if>
      <if test="pic1 != null">pic1 = #{pic1},</if>
      <if test="enabled != null">enabled = #{enabled},</if>
    </trim>
    where id = #{id}
  </update>

  <update id="updateByCode" parameterType="com.jsti.tunnel.monitor.bean.TmDevice">
    update tm_device
    <trim prefix="SET" suffixOverrides=",">
      <if test="name != null">name = #{name},</if>
      <if test="name != null">name = #{name},</if>
      <if test="model != null">model = #{model},</if>
      <if test="type != null">type = #{type},</if>
      <if test="clientip != null">clientip = #{clientip},</if>
      <if test="clientport != null">clientport = #{clientport},</if>
      <if test="deviceType != null">device_type = #{deviceType},</if>
      <if test="line != null">line = #{line},</if>
      <if test="segment != null">segment = #{segment},</if>
      <if test="stakeNumber != null">stake_number = #{stakeNumber},</if>
      <if test="installPosition != null">install_position = #{installPosition},</if>
      <if test="serialNumber != null">serial_number = #{serialNumber},</if>
      <if test="collectTime != null">collect_time = #{collectTime},</if>
      <if test="realtimePhysicalData != null">realtime_physical_data = #{realtimePhysicalData},</if>
      <if test="voltage != null">voltage = #{voltage},</if>
      <if test="status != null">status = #{status},</if>
      <if test="longitude != null">longitude = #{longitude},</if>
      <if test="latitude != null">latitude = #{latitude},</if>
      <if test="pic1 != null">pic1 = #{pic1},</if>
    </trim>
    where code = #{code} and enabled = 1
  </update>

</mapper>